      #outercontainer
	  {
		margin-right: auto;
		margin-left: auto;
		background-color: white;
	  }
      
      #nav 
      { 
        font-family: Garamond;
        margin: auto;
        position: fixed;
        height: 40px;
        line-height: 40px
        top: 0;
        width: 100%;
        background-color: #f3f3f3;
        font-size: 15pt;
        z-index: 99999;
      }

      #nav * 
      {
        padding:0px;
        margin:0px;
      }


      #nav li
      {
        position: relative; 
        float: left;
        list-style: none;
      }


      #nav li a
      {
        width:120px;
        height: 40px;
        display: block;
        text-decoration:none;
        background-color: #f3f3f3;
        color: black;
        text-align: center;
        line-height: 40px;
      }

      #nav li a:hover
      {
        background-color: #ddd;
      }

      #nav ul ul
      {
        position: absolute;
        top: 40px;
        visibility: hidden;
      }



      #nav ul li:hover ul
      {
        visibility:visible;
      }

      #nav li a.active 
      {
          color: white;
          background-color: #FFDF00;
      }

      #nav li a.active:hover
      {
          color: white;
          background-color: #FFDF00;
      }